---
// Component imports and setup JavaScript go here!
import BaseLayout from "../../layouts/BaseLayout.astro";
import { generateCategoryData } from "../../utils/slugHelper.js";

const allPosts = await Astro.glob("../../pages/blog/*.md");
const allCategoriesUnique = new Set();
allPosts.forEach((post) => {
    const categories = post.frontmatter.categories;
    if (categories) {
        allCategoriesUnique.add(categories);
    }
});
// console.log(allCategoriesUnique);
const allCategoriesData = generateCategoryData(allCategoriesUnique);
// console.log(allCategoriesData);
const title = "Categories";
---

<BaseLayout title={title}>
    <h1>{title}</h1>
    <ul>
        {
            allCategoriesData.map((category) => (
                <li>
                    <a href={`/category/${category.slug}`}>{category.name}</a>
                </li>
            ))
        }
    </ul>
</BaseLayout>

<style>
    ul li {
        list-style: none;
    }

    a {
        color: var(--theme-color-three);
    }

    ul li::before {
        content: "\29BF";
        padding-right: 5px;
        color: var(--theme-color-five);
    }
</style>
