---
import "../styles/global.css";
const props = Astro.props;
const newClass = `btn btn--with-icon btn-dark ${props.class && props.class}`;
const btnIconClass = `btn-icon fa ${props.invertarrow === "true" ? "fa-long-arrow-left" : "fa-long-arrow-right"}`;
---

<a href={props.url} class={newClass}>
	<i class={btnIconClass}></i>
	{props.name}
</a>