---
import BaseHead from "../components/BaseHead.astro";
import SideBar from "../components/SideBar.astro";

const { title } = Astro.props || Astro.props.content.title;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} />
  </head>

  <body>
    <SideBar />
    <main>
      <article>
        <slot />
      </article>
    </main>
  </body>
</html>
